
.nav-wrapper {
    color: white;
    background-color:
    #f05c58;
}

.parallax-container {
    height: 200px;
}

.choose {
    color: white;
    background-color: #5a2a36;
    padding: 10px;
    margin: 10px;
}
.choice {
    color: white;
    background-color: #4eaf45;
    padding: 20px;
    margin: 0 auto;
}

.collapsible {
    color: black;
}

.collapsible-body {
    color: black;
    background-color: white;
}

.results {
    color: white;
    background-color: #4eaf45;
}

.add {
    color: white;
    background-color: #4eaf45;
}

.form {
    color: white;
    background-color: #4eaf45;
}
.btn { 
    background-color: #486080;
}

.white {
    margin: 0px auto;
}

.row {
    margin-bottom: 0px;
}

#newFood {
    margin-top: 20px;
}

span {
    padding: 5px;
    margin: 5px;
}